html, body
{
  width : 100%;
  height : 100%;
  margin : 0px;
}

#header
{
  width : 100%;
  height : 100px;
  background-color : #BBB;
}

#divConnexion
{
  display : none;
}

#pnlConnexionReussie
{
  top : 30px;
  right : 50px;
  width : 200px;
  height : 4em;
  color : white;
  background-color : #4A8E15;
  position : fixed;
  text-align : center;
}